@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.App {
  text-align: center;
}

.logox{
  width: 200px;
}




.flex-container {
  display: flex;
  justify-content: space-between;
  transform: scale(0.8);
  align-items: center;
}

#takeaway {
  background-color: #d2e6ec;
  transform: scale(0.8);
  font-size: 27px;
  padding: 15px;
}

#title {
  font-size: 65px;
  font-family: 'Lora', serif;
  margin:5px 0px 0px 0px
}

@media only screen and (max-width: 480px) {

  /* For mobile phones: */
  #title {
    font-size: x-large;
  }

  #takeaway {
    background-color: #d2e6ec;
    transform: scale(0.7);
  }

  .logox {
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  #title {
    font-size: x-large;
  }

  #takeaway {
    background-color: #d2e6ec;
    transform: scale(0.7);
  }

  .logox {
    width: 30%;
  }
}